/*
 * Copyright (c) 2022 Gavin Hurlbut
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;

#include <atmel/samc21x18.dtsi>
#include "beirdo_can_collector-pinctrl.dtsi"

/ {
	model = "Beirdo's Vehicle CAN Collector";
	compatible = "beirdo,can_collector", "atmel,samc21j18a", "atmel,samc21";

	chosen {
		zephyr,console = &sercom0;
		zephyr,shell-uart = &sercom0;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
	};

	/* These aliases are provided for compatibility with samples */
	aliases {
		led0 = &led0;
		i2c-0 = &sercom5;
		spi-0 = &sercom4;
		spi-1 = &sercom3;
	};

	leds {
		compatible = "gpio-leds";
		led0 {
			gpios = <&portb 01 GPIO_ACTIVE_LOW>;
			label = "Status LED";
		};

		led1 {
			gpios = <&portb 02 GPIO_ACTIVE_LOW>;
			label = "Host Active LED";
		};

		led2 {
			gpios = <&portb 03 GPIO_ACTIVE_LOW>;
			label = "OBD Active LED";
		};

		led3 {
			gpios = <&i2c_gpio1 0 GPIO_ACTIVE_HIGH>;
			label = "HS CAN Mode";
		};

		led4 {
			gpios = <&i2c_gpio1 1 GPIO_ACTIVE_HIGH>;
			label = "MS CAN Mode";
		};

		led5 {
			gpios = <&i2c_gpio1 2 GPIO_ACTIVE_HIGH>;
			label = "SW CAN Mode";
		};

		led6 {
			gpios = <&i2c_gpio1 3 GPIO_ACTIVE_HIGH>;
			label = "J1850 PWM Mode";
		};

		led7 {
			gpios = <&i2c_gpio1 4 GPIO_ACTIVE_HIGH>;
			label = "J1850 VPW Mode";
		};

		led8 {
			gpios = <&i2c_gpio1 5 GPIO_ACTIVE_HIGH>;
			label = "ISO K-Line Mode";
		};

		led9 {
			gpios = <&i2c_gpio1 6 GPIO_ACTIVE_HIGH>;
			label = "ISO K-Line KW2000 Mode";
		};

		led10 {
			gpios = <&i2c_gpio1 7 GPIO_ACTIVE_HIGH>;
			label = "ISO L-Line Mode";
		};
	};
};

&cpu0 {
	clock-frequency = <48000000>;
};

&adc0 {
	status = "okay";
	pinctrl-0 = <&adc0_default>;
	pinctrl-names = "default";
};

&adc1 {
	pinctrl-0 = <&adc1_default>;
	pinctrl-names = "default";
};

&tcc0 {
	status = "okay";
	compatible = "atmel,sam0-tcc-pwm";
	prescaler = <256>;
	pwm-cells = <2>;

	pinctrl-0 = <&pwm_default>;
	pinctrl-names = "default";
	interrupts = <&porta 28 GPIO_INT_EDGE_BOTH>;
};

&sercom0 {
	status = "okay";
	compatible = "atmel,sam0-uart";
	current-speed = <2000000>;
	rxpo = <1>;
	txpo = <2>;

	pinctrl-0 = <&sercom0_uart_default>;
	pinctrl-names = "default";
};

&sercom1 {
	status = "okay";
	compatible = "atmel,sam0-uart";
	current-speed = <10400>;
	rxpo = <1>;
	txpo = <0>;

	pinctrl-0 = <&sercom1_uart_default>;
	pinctrl-names = "default";
};

&sercom2 {
	status = "okay";
	compatible = "atmel,sam0-uart";
	current-speed = <19200>;
	rxpo = <2>;
	txpo = <0>;

	pinctrl-0 = <&sercom2_uart_default>;
	pinctrl-names = "default";
};

&sercom3 {
	status = "okay";
	compatible = "atmel,sam0-spi";
	dipo = <3>;
	dopo = <0>;
	#address-cells = <1>;
	#size-cells = <0>;

	pinctrl-0 = <&sercom3_spi_default>;
	pinctrl-names = "default";

	can2_default: can@0 {
		compatible = "microchip,mcp2515";
		spi-max-frequency = <10000000>;
		int-gpios = <&i2c_gpio0 0 GPIO_ACTIVE_LOW>;
		reg = <0x0>;
		osc-frequency = <12000000>;
		bus-speed = <33000>;
		sjw = <1>;
		sample-point = <875>;
		can-transceiver = {
			max-bitrate = <100000>;
		};
	};
};

&sercom4 {
	status = "okay";
	compatible = "atmel,sam0-spi";
	dipo = <3>;
	dopo = <0>;
	#address-cells = <1>;
	#size-cells = <0>;

	pinctrl-0 = <&sercom4_spi_default>;
	pinctrl-names = "default";

	sdhc0: sdhc@0 {
		compatible = "zephyr,sdhc-spi-slot";
		spi-max-frequency: <24000000>;
		reg = <0>;
		interrupts = <&porta 11 GPIO_ACTIVE_LOW>;

		sd0: sd@0 {
			compatible = "zephyr,sdmmc-disk";
			status = "okay";
		};
	};
};

&sercom5 {
	status = "okay";
	compatible = "atmel,sam0-i2c";
	clock-frequency = <I2C_BITRATE_FAST>;
	#address-cells = <1>;
	#size-cells = <0>;

	pinctrl-0 = <&sercom5_i2c_default>;
	pinctrl-names = "default";

	ic2_gpio0: nxp,pca95xx@0x20 {
		interrupt-gpios: <&porta 20 GPIO_ACTIVE_LOW>;
		pinmux = <PA20A_EXTINT14>;
		ngpios = <8>;
	};

	i2c_gpio1: nxp,pca95xx@0x21 {
		ngpios = <8>;
	};
};

&can0 {
	status = "okay";
	compatible = "atmel,sam0-can";
	clock-frequency = <500000>;
	pinctrl-0 = <&can0_default>;
	pinctrl-names = "default";
};

&can1 {
	status = "okay";
	compatible = "atmel,sam0-can";
	clock-frequency = <125000>;
	pinctrl-0 = <&can1_default>;
	pinctrl-names = "default";
};

&can2 {
	status = "okay";
	compatible = "microchip,mcp2515";
	pinctrl-0 = <&can2_default>;
	pinctrl-names = "default";
};


&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		/*
		 * The final 16 KiB is reserved for the application.
		 * Storage partition will be used by FCB/LittleFS/NVS
		 * if enabled.
		 */
		storage_partition: partition@3c000 {
			label = "storage";
			reg = <0x0003c000 0x00004000>;
		};
	};
};
